.navbar {
  background-color: #002244; /* Dark Blue */
  padding: 10px 20px;
  color: white;
 
}

.navbar-brand {
  font-weight: bold;
}
.logo{
    font-size: 1.75em;;
}
.nav-link {
  color: white;
}

.nav-link:hover {
  color: #cccccc;
}
.imagelogo{
  width: 1.5em; /* Or any desired fixed width */
  height: 1.5em;
}