body, html, #root {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f4f4; /* off-white background */
}

.content-wrap {
  flex: 1;
  padding: 20px;
}

.navbar {
  background-color: #002147;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style-type: none;
}

.navbar li {
  display: inline;
  margin: 0 15px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.footer {
  background-color: #002147;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-image {
  width: 30%;
  margin: 10px;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

img {
  max-width: 100%;
}

/* Responsive styles */
@media (max-width: 768px) {
  .gallery-image {
    width: 45%;
  }

  .navbar ul {
    display: block;
    text-align: center;
  }
  .navbar {
  background-color: #002147;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
}